* {
  box-sizing: border-box;
}

body {
    font-family: 'Times New Roman', Times, serif;
  padding: 15px;
  background-color: bisque;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
}

.userKard, .userKard1, .userKard2 {
  margin: 30px;
  background-color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-basis: 300px;
  max-width: 230px;
  max-width: 350px;
  flex-grow: 1;
}


.editBtn, .editBtn2 {
  align-self: flex-end;
  cursor: pointer;

}

.userImg, .userImg1, .userImg2 {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  margin: -25px;
}

.fio, .fio1, .fio2 {
  padding: 10px;
  margin: 25px;
}

.local, .local1, .local2 {
  padding: 10px;
  margin: -25px;
}

.lorem, .lorem1, .lorem2 {
  text-align: center;
  padding: 25px;
  margin: 25px;
}

.memberSektion {
  align-self: stretch;
  display: flex;
  justify-content: space-between;
  margin-top: auto;
  padding: 10px;
}

.socilLinks {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 10px;
  cursor: pointer;
}

.userKard1 {
  background-color: beige;
}

.userImg1 {
  margin: -1px;
}

.fio1 {
  margin: -1px;
}

.local1 {
  margin: -3px;
}

.prof1 {
  margin: 5px;
}

.lorem1 {
  margin: -20px;
}

.socilItem1, .socilItem2 {
  margin: 16px;
  padding: 10px;
  cursor: pointer;
  background-color: blue;
}

.stat1 {
  margin: 18px;
  color: aliceblue;
  display: flex;
  justify-content: center;
  align-items: center;
}

.local2 {
  margin: -30px;
}

.prof2 {
  text-align: center;
  padding: 25px;
  margin: 25px;
}

.lorem2 {
  margin: -20px;
}

.lorem3 {
  margin: 46px;
}

.socilItem2 {
  margin: 20px;
  padding: 10px;
  background-color: green;
}
